{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JualBeli Lalapan</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/add-style.css' %}" rel="stylesheet"/>
</head>
<body>
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="" class="navbar-brand ms-lg-5">
            <h1 class="display-5 m-0 text-primary">Lalapan<span class="text-secondary">Sawunggaling</span></h1>
        </a>
        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="menu" class="nav-item nav-link">Menu</a>
            <a href="pesanan" class="nav-item nav-link">Pesan</a>
            <a href="tel:+628712478999" class="nav-item nav-link nav-contact bg-secondary text-white px-5 ms-lg-5"><i class="bi bi-telephone-outbound me-2"></i>+628712478999</a>

        </div>
    </div>
</nav>

    <div class="header">
            <h3 class="section-title bg-white text-center text-primary px-8">Menu Sawunggaling</h3>

        </div>
        <div class="border">
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Ayam Goreng</h4>
                              <h3>25.000</h3>
                                <img src="{% static 'img/ayam.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Bebek Goreng</h4>
                              <h3>25.000</h3>
                                <img src="{% static 'img/bebek.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Lele Goreng</h4>
                              <h3>20.000</h3>
                                <img src="{% static 'img/lele.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Cumi Goreng</h4>
                              <h3>20.000</h3>
                                <img src="{% static 'img/cumi.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Gurame Goreng</h4>
                              <h3>40.000</h3>
                                <img src="{% static 'img/gurame.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Seafood Tumpah </h4>
                              <h3>100.000</h3>
                                <img src="{% static 'img/seafood.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
            <a href="#">
                <div class="rowbagian">
                    <div class="gambar">
                              <h4>Nasi Goreng </h4>
                              <h4>12.000</h4>
                                <img src="{% static 'img/nasgor.jpg' %}" alt="">
                        </div>
                    </div>
            </a>
        </div>
        <div class="containerr">
            <div class="field">
                <label>Nama </label>
                <input type="text" />
            </div>       

        </div>
        <section class="container-fluid footer_section">
            <p>
              &copy; Sawunggaling
              <a>Dlondonge Warok Ponorogo</a>
            </p>
          </section>
                   